body,footer{
  font-family: Helvetica;
}
#banner,Footer,a{
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
#banner,.bottom-divider{
  background-image: url(../images/the-flatiron-building.png);
}
